In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import Column, String
from geoalchemy2 import Geometry
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
import logging

In [2]:
user_name = 'l01-4'
#use the file way of storing password or set passw to your password
with open("l01-4_password.txt") as f:
    passw = f.read()

# Calgary Communities
## Source: City of Calgary's Open Data Portal
Changelog for Data Export to SQL Table

*From Community Points*
- Include 
CLASS	CLASS_CODE	COMM_CODE	NAME	SECTOR	SRG	COMM_STRUCTURE	longitude	latitude	POINT

Link: https://data.calgary.ca/Base-Maps/Community-Points/j9ps-fyst/about_data


*Community_District_Boundaries*
- Include polygon
- Join this dataset to Community Points

*Merged datasets for Community tablet*
- Make COMM_CODE a pary keyrithis is to improve query performance as future queries will join or filter on COMM_CODEkey
- Make Point and Polygon geometry data types
- Rename Point and Polygon to COMMUNITY_POINT and COMMUNITY_POLYGON to avoid keywords as n names and it is more meaningful name

Link: https://data.calgary.ca/Base-Maps/Community-Boundaries-2011/j3yz-fb4u/about_data

Link: https://data.calgary.ca/Base-Maps/Community-District-Boundaries/surr-xmvs/about_dataata

In [3]:
df_communities = pd.read_csv("Community_Points_20240306.csv")
df_communities.head(5)

,CLASS,CLASS_CODE,COMM_CODE,NAME,SECTOR,SRG,COMM_STRUCTURE,longitude,latitude,POINT
0,Residential,1,BED,BEDDINGTON HEIGHTS,NORTH,ESTABLISHED,1960s/1970s,-114.085021,51.131633,POINT (-114.085021395442 51.131632808734)
1,Residential,1,RVW,RANGEVIEW,SOUTHEAST,DEVELOPING,BUILDING OUT,-113.923717,50.874129,POINT (-113.923716806793 50.874129341662)
2,Residential,1,WND,WINDSOR PARK,CENTRE,ESTABLISHED,1950s,-114.083549,51.005043,POINT (-114.083548819223 51.005043176725)
3,Residential,1,ROY,ROYAL OAK,NORTHWEST,COMPLETE,2010s,-114.219745,51.142667,POINT (-114.219744952347 51.142667391135)
4,Residential,1,SVR,SYMONS VALLEY RANCH,NORTH,DEVELOPING,BUILDING OUT,-114.138077,51.184799,POINT (-114.138077268409 51.184799253171)

In [4]:
df_community_boundaries = pd.read_csv("Community_District_Boundaries_20240312.csv")
df_community_boundaries.head(5)

,CLASS,CLASS_CODE,COMM_CODE,NAME,SECTOR,SRG,COMM_STRUCTURE,CREATED_DT,MODIFIED_DT,MULTIPOLYGON
0,Residential,1,LEB,LEWISBURG,NORTH,DEVELOPING,BUILDING OUT,2016/12/21,2019/11/26,"MULTIPOLYGON (((-114.0480237 51.1749865, -114...."
1,Residential,1,CSC,CITYSCAPE,NORTHEAST,DEVELOPING,BUILDING OUT,2016/12/21,2016/12/21,"MULTIPOLYGON (((-113.9524996 51.1543075, -113...."
2,Industrial,2,ST1,STONEY 1,NORTH,NaN,EMPLOYMENT,2016/12/21,2016/12/21,"MULTIPOLYGON (((-114.0133015 51.1744266, -114...."
3,Residential,1,MRT,MARTINDALE,NORTHEAST,ESTABLISHED,1980s/1990s,2016/12/21,2020/10/22,"MULTIPOLYGON (((-113.9648991 51.1251901, -113...."
4,Industrial,2,ST2,STONEY 2,NORTHEAST,NaN,EMPLOYMENT,2016/12/21,2016/12/21,"MULTIPOLYGON (((-113.9939281 51.153327, -113.9..."

In [11]:
# Merge the DataFrames based on a common column
# Assuming 'COMM_CODE' is the common key
df_community_merged = pd.merge(df_communities, df_community_boundaries[['COMM_CODE', 'MULTIPOLYGON']], on='COMM_CODE', how='left')
# Rename the 'polygon' column to 'COMMUNITY_BOUNDARY'
df_community_merged = df_community_merged.rename(columns={'MULTIPOLYGON': 'COMMUNITY_BOUNDARY'})
df_community_merged = df_community_merged.rename(columns={'POINT': 'COMMUNITY_POINT'})
df_community_merged = df_community_merged.rename(columns={'NAME': 'COMMUNITY_NAME'})

# Convert NaN to None
df_community_merged.replace({np.nan: None}, inplace=True)
# Rename columns to uppercase
df_community_merged.columns = df_community_merged.columns.str.upper()
df_community_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CLASS               310 non-null    object
 1   CLASS_CODE          310 non-null    int64
 2   COMM_CODE           310 non-null    object
 3   NAME                310 non-null    object
 4   SECTOR              307 non-null    object
 5   SRG                 247 non-null    object
 6   COMM_STRUCTURE      308 non-null    object
 7   LONGITUDE           310 non-null    float64
 8   LATITUDE            310 non-null    float64
 9   COMMUNITY_POINT     310 non-null    object
 10  COMMUNITY_BOUNDARY  307 non-null    object
dtypes: float64(2), int64(1), object(8)
memory usage: 26.8+ KB

In [7]:
# Define the database connection string
database_url = f"mysql+mysqlconnector://{user_name}:{passw}@datasciencedb.ucalgary.ca/{user_name}"
# Set the logging level for SQLAlchemy to WARNING, from now on no more INFO, CATEGORY
logging.getLogger('sqlalchemy').setLevel(logging.WARNING)
# Create the SQLAlchemy engine
engine = create_engine(database_url, echo=True)  # Set echo to True for debugging

# Test the connection
with engine.connect() as connection:
    result = connection.execute("SELECT 1")
    print(result.scalar())

2024-03-14 12:30:39,399 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-03-14 12:30:39,402 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-03-14 12:30:39,460 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-03-14 12:30:39,462 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-03-14 12:30:39,495 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-03-14 12:30:39,500 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-03-14 12:30:39,537 INFO sqlalchemy.engine.Engine SELECT 1
2024-03-14 12:30:39,540 INFO sqlalchemy.engine.Engine [raw sql] {}
1

In [8]:
# Define the Base class
Base = declarative_base()
class Community(Base):
    __tablename__ = 'communities'

    COMM_CODE = Column(String, primary_key=True)
    CLASS_CODE = Column(String)
    COMMUNITY_NAME = Column(String)
    SECTOR = Column(String)
    SRG = Column(String)
    COMM_STRUCTURE = Column(String)
    LONGITUDE = Column(String)
    LATITUDE = Column(String)
    COMMUNITY_POINT = Column(Geometry('POINT', srid=4326))
    COMMUNITY_BOUNDARY = Column(Geometry('POLYGON', srid=4326))
# Create the engine and bind it to the Base
Base.metadata.create_all(engine)

2024-03-14 12:33:29,969 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-03-14 12:33:29,994 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2024-03-14 12:33:29,999 INFO sqlalchemy.engine.Engine [generated in 0.02090s] {'table_schema': 'l01-4', 'table_name': 'communities'}
2024-03-14 12:33:30,015 INFO sqlalchemy.engine.Engine COMMIT

In [9]:
Session = sessionmaker(bind=engine)
session = Session()

In [12]:
# Loop through DataFrame rows and insert data into the database
for index, row in df_community_merged.iterrows():
    try:
        community = Community(
        COMM_CODE=row['COMM_CODE'],
        CLASS_CODE =row['CLASS_CODE'],
        COMMUNITY_NAME =row['COMMUNITY_NAME'],
        SECTOR =row['SECTOR'],
        SRG=row['SRG'],
        COMM_STRUCTURE =row['COMM_STRUCTURE'],
        LONGITUDE =row['LONGITUDE'],
        LATITUDE =row['LATITUDE'],
        COMMUNITY_POINT=row['COMMUNITY_POINT'],
        COMMUNITY_BOUNDARY=row['COMMUNITY_BOUNDARY'])
        session.add(community)


    except Exception as e:
        print(f"Error in row {index}: {e}")
        print(row)  # Print the entire row for reference
        session.rollback()  # Rollback the transaction to continue with the next row
session.commit()  # Commit the transaction

2024-03-14 12:36:11,284 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-03-14 12:36:11,330 INFO sqlalchemy.engine.Engine INSERT INTO communities (`COMM_CODE`, `CLASS_CODE`, `NAME`, `SECTOR`, `SRG`, `COMM_STRUCTURE`, `LONGITUDE`, `LATITUDE`, `COMMUNITY_POINT`, `COMMUNITY_BOUNDARY`) VALUES (%(COMM_CODE)s, %(CLASS_CODE)s, %(NAME)s, %(SECTOR)s, %(SRG)s, %(COMM_STRUCTURE)s, %(LONGITUDE)s, %(LATITUDE)s, ST_GeomFromText(%(COMMUNITY_POINT)s, 4326), ST_GeomFromText(%(COMMUNITY_BOUNDARY)s, 4326))
2024-03-14 12:36:11,333 INFO sqlalchemy.engine.Engine [generated in 0.02834s] ({'COMM_CODE': 'BED', 'CLASS_CODE': 1, 'NAME': 'BEDDINGTON HEIGHTS', 'SECTOR': 'NORTH', 'SRG': 'ESTABLISHED', 'COMM_STRUCTURE': '1960s/1970s', 'LONGITUDE': -114.08502139544244, 'LATITUDE': 51.13163280873361, 'COMMUNITY_POINT': 'POINT (-114.085021395442 51.131632808734)', 'COMMUNITY_BOUNDARY': 'MULTIPOLYGON (((-114.065193 51.132128, -114.0683966 51.1331831, -114.0702898 51.1338407, -114.071444 51.134295, -114.072102 51.1345719, -114.0727526  ... (2610 characters truncated) ... 3, -114.0596882 51.1306809, -114.0606014 51.1308423, -114.0615919 51.13104, -114.0624923 51.1312581, -114.0634958 51.131561, -114.065193 51.132128)))'}, {'COMM_CODE': 'RVW', 'CLASS_CODE': 1, 'NAME': 'RANGEVIEW', 'SECTOR': 'SOUTHEAST', 'SRG': 'DEVELOPING', 'COMM_STRUCTURE': 'BUILDING OUT', 'LONGITUDE': -113.92371680679342, 'LATITUDE': 50.8741293416615, 'COMMUNITY_POINT': 'POINT (-113.923716806793 50.874129341662)', 'COMMUNITY_BOUNDARY': 'MULTIPOLYGON (((-113.9416576 50.8851677, -113.9416385 50.8851062, -113.9416366 50.8850664, -113.9416687 50.8849511, -113.9416555 50.884896, -113.9416 ... (2048 characters truncated) ... 13.9403301 50.8854389, -113.9404897 50.8854159, -113.9406776 50.8853825, -113.9409205 50.8853353, -113.9411589 50.8852815, -113.9416576 50.8851677)))'}, {'COMM_CODE': 'WND', 'CLASS_CODE': 1, 'NAME': 'WINDSOR PARK', 'SECTOR': 'CENTRE', 'SRG': 'ESTABLISHED', 'COMM_STRUCTURE': '1950s', 'LONGITUDE': -114.08354881922324, 'LATITUDE': 51.0050431767252, 'COMMUNITY_POINT': 'POINT (-114.083548819223 51.005043176725)', 'COMMUNITY_BOUNDARY': 'MULTIPOLYGON (((-114.0761974 51.0013713, -114.0715805 51.0013925, -114.0715898 51.0021545, -114.0715693 51.0024623, -114.0715617 51.0025119, -114.071 ... (11815 characters truncated) ... -114.0813338 51.00139, -114.0812037 51.0013762, -114.0810975 51.0013728, -114.0809711 51.0013715, -114.0770091 51.0013709, -114.0761974 51.0013713)))'}, {'COMM_CODE': 'ROY', 'CLASS_CODE': 1, 'NAME': 'ROYAL OAK', 'SECTOR': 'NORTHWEST', 'SRG': 'COMPLETE', 'COMM_STRUCTURE': '2010s', 'LONGITUDE': -114.21974495234667, 'LATITUDE': 51.1426673911348, 'COMMUNITY_POINT': 'POINT (-114.219744952347 51.142667391135)', 'COMMUNITY_BOUNDARY': 'MULTIPOLYGON (((-114.227685 51.1311606, -114.2270407 51.1317553, -114.2261765 51.1325549, -114.2247824 51.133509, -114.222973 51.1345828, -114.221388 ... (1034 characters truncated) ... -114.2342062 51.1445963, -114.2342057 51.1432071, -114.2342089 51.1386374, -114.2342109 51.133907, -114.2342109 51.1338932, -114.227685 51.1311606)))'}, {'COMM_CODE': 'SVR', 'CLASS_CODE': 1, 'NAME': 'SYMONS VALLEY RANCH', 'SECTOR': 'NORTH', 'SRG': 'DEVELOPING', 'COMM_STRUCTURE': 'BUILDING OUT', 'LONGITUDE': -114.13807726840868, 'LATITUDE': 51.18479925317111, 'COMMUNITY_POINT': 'POINT (-114.138077268409 51.184799253171)', 'COMMUNITY_BOUNDARY': 'MULTIPOLYGON (((-114.1360643 51.1846482, -114.1360684 51.1846517, -114.1363086 51.1848599, -114.1364778 51.1850065, -114.1365489 51.185068, -114.1367 ... (781 characters truncated) ... 114.1357264 51.184325, -114.1358386 51.1844383, -114.1358813 51.1844782, -114.1359194 51.1845132, -114.1359923 51.1845802, -114.1360643 51.1846482)))'}, {'COMM_CODE': 'THO', 'CLASS_CODE': 1, 'NAME': 'THORNCLIFFE', 'SECTOR': 'NORTH', 'SRG': 'ESTABLISHED', 'COMM_STRUCTURE': '1950s', 'LONGITUDE': -114.06877799049856, 'LATITUDE': 51.1031032569092, 'COMMUNITY_POINT': 'POINT (-114.068777990499 51.103103256909)', 'COMMUNITY_BOUNDARY': 'MULTIPOLYGON (((-114.0637469 51.094989, -114.0624462 51.0946278, -114.0624455 51.0960681, -114.0610918 51.0960668, -114.0608988 51.0960666, -114.0581 ... (4299 characters truncated) ... -114.0687694 51.0955081, -114.066708 51.0947623, -114.0645183 51.0951066, -114.0643554 51.0951323, -114.0642972 51.0951189, -114.0637469 51.094989)))'}, {'COMM_CODE': 'MCK', 'CLASS_CODE': 1, 'NAME': 'MCKENZIE LAKE', 'SECTOR': 'SOUTHEAST', 'SRG': 'ESTABLISHED', 'COMM_STRUCTURE': '1980s/1990s', 'LONGITUDE': -113.98817744248794, 'LATITUDE': 50.91488095940272, 'COMMUNITY_POINT': 'POINT (-113.988177442488 50.914880959403)', 'COMMUNITY_BOUNDARY': 'MULTIPOLYGON (((-113.9754848 50.9319229, -113.9836233 50.9319118, -113.9876182 50.9319051, -113.9917992 50.9318978, -113.9917979 50.9318863, -113.991 ... (18310 characters truncated) ... 13.9969401 50.8963081, -113.9918426 50.8971939, -113.9753146 50.9000641, -113.9753994 50.9164522, -113.9754301 50.9213613, -113.9754848 50.9319229)))'}, {'COMM_CODE': 'WHL', 'CLASS_CODE': 1, 'NAME': 'WEST HILLHURST', 'SECTOR': 'CENTRE', 'SRG': 'ESTABLISHED', 'COMM_STRUCTURE': 'INNER CITY', 'LONGITUDE': -114.11515852170044, 'LATITUDE': 51.05508036705824, 'COMMUNITY_POINT': 'POINT (-114.1151585217 51.055080367058)', 'COMMUNITY_BOUNDARY': 'MULTIPOLYGON (((-114.1295032 51.0535045, -114.1294857 51.0535005, -114.1294298 51.0534907, -114.129376 51.0534832, -114.1293193 51.0534739, -114.1292 ... (18397 characters truncated) ... 14.1278509 51.0587048, -114.1278484 51.0578128, -114.1278459 51.0569107, -114.1278434 51.0560016, -114.1278403 51.0548808, -114.1295032 51.0535045)))'}  ... displaying 10 of 310 total bound parameter sets ...  {'COMM_CODE': 'THS', 'CLASS_CODE': 1, 'NAME': 'TWINHILLS', 'SECTOR': 'EAST', 'SRG': 'DEVELOPING', 'COMM_STRUCTURE': 'BUILDING OUT', 'LONGITUDE': -113.87710975220664, 'LATITUDE': 51.04511135337869, 'COMMUNITY_POINT': 'POINT (-113.877109752207 51.045111353379)', 'COMMUNITY_BOUNDARY': 'MULTIPOLYGON (((-113.8770239 51.0524384, -113.8886707 51.0524349, -113.8886651 51.0451995, -113.8886603 51.0378379, -113.8886603 51.0378006, -113.8655526 51.0377668, -113.8655475 51.045203, -113.8770346 51.0452048, -113.8770239 51.0524384)))'}, {'COMM_CODE': 'PKL', 'CLASS_CODE': 1, 'NAME': 'PARKLAND', 'SECTOR': 'SOUTH', 'SRG': 'ESTABLISHED', 'COMM_STRUCTURE': '1960s/1970s', 'LONGITUDE': -114.03129001164992, 'LATITUDE': 50.92339888876664, 'COMMUNITY_POINT': 'POINT (-114.03129001165 50.923398888767)', 'COMMUNITY_BOUNDARY': 'MULTIPOLYGON (((-114.045522 50.9291375, -114.0453492 50.9290297, -114.0453498 50.928293, -114.0453444 50.9282065, -114.0453283 50.9281206, -114.04530 ... (5476 characters truncated) ... 114.0445803 50.9293682, -114.0448096 50.9293381, -114.0450376 50.9293151, -114.0452184 50.9293036, -114.0452187 50.9293036, -114.045522 50.9291375)))'})
2024-03-14 12:36:11,828 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
session.close()