In [21]:
import pandas as pd
import numpy as np
from sqlalchemy import Column, String
from geoalchemy2 import Geometry
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
import logging

In [22]:
user_name = 'l01-4'
#use the file way of storing password or set passw to your password
with open("l01-4_password.txt") as f:
    passw = f.read()

# Calgary Community Classes
## Source: City of Calgary's Open Data Portal
Changelog for Data Export to SQL Table

*From Community Points*
- Include 
CLASS	CLASS_CODE

Link: https://data.calgary.ca/Base-Maps/Community-Points/j9ps-fyst/about_data

In [23]:
df_community_class = pd.read_csv("Community_Points_20240306.csv",usecols=['CLASS', 'CLASS_CODE'])
df_community_class = df_community_class.drop_duplicates(subset=['CLASS', 'CLASS_CODE'])

df_community_class.head(5)

                 CLASS  CLASS_CODE
0          Residential           1
9           Industrial           2
28   Residual Sub Area           4
167         Major Park           3

In [24]:

# Convert NaN to None
df_community_class.replace({np.nan: None}, inplace=True)
# Rename columns to uppercase
df_community_class.columns = df_community_class.columns.str.upper()
df_community_class.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 0 to 167
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CLASS       4 non-null      object
 1   CLASS_CODE  4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 96.0+ bytes

In [25]:
# Define the database connection string
database_url = f"mysql+mysqlconnector://{user_name}:{passw}@datasciencedb.ucalgary.ca/{user_name}"
# Set the logging level for SQLAlchemy to WARNING, from now on no more INFO, CATEGORY
logging.getLogger('sqlalchemy').setLevel(logging.WARNING)
# Create the SQLAlchemy engine
engine = create_engine(database_url, echo=True)  # Set echo to True for debugging

# Test the connection
with engine.connect() as connection:
    result = connection.execute("SELECT 1")
    print(result.scalar())

2024-03-26 19:04:42,322 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-03-26 19:04:42,322 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-03-26 19:04:42,345 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-03-26 19:04:42,349 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-03-26 19:04:42,359 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-03-26 19:04:42,365 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-03-26 19:04:42,385 INFO sqlalchemy.engine.Engine SELECT 1
2024-03-26 19:04:42,388 INFO sqlalchemy.engine.Engine [raw sql] {}
1

In [26]:
# Define the Base class
Base = declarative_base()
class Community_Class(Base):
    __tablename__ = 'community_class'

    CLASS_CODE = Column(String, primary_key=True)
    CLASS_NAME = Column(String)
# Create the engine and bind it to the Base
Base.metadata.create_all(engine)

2024-03-26 19:04:42,613 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-03-26 19:04:42,622 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2024-03-26 19:04:42,626 INFO sqlalchemy.engine.Engine [generated in 0.00854s] {'table_schema': 'l01-4', 'table_name': 'community_class'}
2024-03-26 19:04:42,635 INFO sqlalchemy.engine.Engine COMMIT

In [27]:
Session = sessionmaker(bind=engine)
session = Session()

In [31]:
# Loop through DataFrame rows and insert data into the database
for index, row in df_community_class.iterrows():
    try:
        community_class = Community_Class(
        
        CLASS_CODE =row['CLASS_CODE'],
        CLASS_NAME =row['CLASS']
        )
            
        session.add(community_class)


    except Exception as e:
        print(f"Error in row {index}: {e}")
        print(row)  # Print the entire row for reference
        session.rollback()  # Rollback the transaction to continue with the next row
session.commit()  # Commit the transaction

2024-03-26 19:05:06,601 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-03-26 19:05:06,620 INFO sqlalchemy.engine.Engine INSERT INTO community_class (`CLASS_CODE`, `CLASS_NAME`) VALUES (%(CLASS_CODE)s, %(CLASS_NAME)s)
2024-03-26 19:05:06,623 INFO sqlalchemy.engine.Engine [generated in 0.00863s] ({'CLASS_CODE': 1, 'CLASS_NAME': 'Residential'}, {'CLASS_CODE': 2, 'CLASS_NAME': 'Industrial'}, {'CLASS_CODE': 4, 'CLASS_NAME': 'Residual Sub Area'}, {'CLASS_CODE': 3, 'CLASS_NAME': 'Major Park'})
2024-03-26 19:05:06,627 INFO sqlalchemy.engine.Engine COMMIT

In [32]:
session.close()